/* pagina mural */

*,
body {
  font-family: "Exo 2", sans-serif;
} 

.label-captura {
  display: flex;
  justify-content: center;
}
.dash {
  width: 70%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 90vh;
  overflow: auto;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 10px;
} 

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

 .label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}  

canvas {
  width: 100% !important;
  height: 100% !important;
}
.hello{
  font-family: 'Imprima', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #000000;
}
.cabecalho-quiz{
  top: 0;
  height: 100vh;
  width: 200px;
  left: 0px;
  top: 0px; 
  background-color: #23308B;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.cabecalho-logo-quiz{
  width: 130px;
  height: 108px;
  margin-top: -9px;
  margin-left: 11px;
}
.botao-analytics{
  width: 180px;
  height: 59px;
  background: rgba(231, 238, 240, 0.92);
  border-radius: 20px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.botao-personagem{
 width: 180px;
  height: 59px;
  background: rgba(231, 238, 240, 0.92);
  border-radius: 20px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.botao-exit{
  width: 180px;
  height: 59px;
  background: rgba(231, 238, 240, 0.92);
  border-radius: 20px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  
}