@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Inconsolata:wght@700;900&family=Inter:wght@700&family=Open+Sans:ital,wght@1,300&family=Roboto+Condensed&family=Roboto:wght@100;400&display=swap');
/*font-family: 'Imprima', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/
/**************** HOME ********************************/
/**************** CABEÇALHO ********************************/
* {
    margin: 0; /*Distancia da tag que você */
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-size: 100%;
}
.cabecalho-pai{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*padding: 24px; margem*/
    background-color: #60A8C1;
    box-sizing: border-box;
    border-bottom: 1px solid #FFFFFF;
}
.cabecalho-logo{
    width: 100px;
    height: 100px;
}
.cabecalho-links{
    display: flex;
    gap: 35px; /*margem*/
    align-items: baseline; /*Deixa o texto alinhado*/
}
.cabecalho-itens{
    font-family: 'Sarala', sans-serif; 
    font-style: normal; 
    font-weight: 200; /*peso da fonte - quanto maior mais em negrito*/
    font-size: 15px; /*tamanho da fonte*/
    color: #FFFFFF;  /*cor da fonte*/
}
.cabecalho-pai button{
    font-family: 'Sarala', sans-serif;
    background: #C9232A;
    border-radius: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    width: 140px;
    height: 50px;
    color: #FFFFFF;
    border: none;
}
/**************** CONTEUDO PRINCIPAL ********************************/
/*MEIO DA PÁGINA*/
.fundo-home{
    padding: 250px 0;
    height: 125vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/fundo_thebigbang.jpg');
}
.conteudo-principal-sinopse{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    margin-top: -130px;
    gap: 50px;
}
/*TEXTOS*/
.principal-titulo{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
    margin-top: -30px;
    color: #FFFFFF;
}
.principal-subtitulo{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-left: 200px;
    color: #000000;
}
.quadrado-azul1{
    margin-top: -30px;
    width: 496px;
    height: 200px;
    background: #B0E5F7;
    border-radius: 50px;
}
.quadrado-azul2{
    width: 496px;
    height: 200px;
    background: #B0E5F7;
    border-radius: 50px;
}
.sinopse-1{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 15px;

}
.sinopse-2{
    font-family: 'Open Sans', sans-serif; 
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: -30px;
}
.icone_atomo{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
}
.icone_spok{
    width: 50px;
    height: 50px;
    margin-left: 420px;
    margin-top: -50px;
}
.icone_geek{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
}
.icone_flash{
    width: 40px;
    height: 40px;
    margin-left: 420px;
    margin-top: -10px;
}
/********************** TRAILER **************************************************************/
.trailer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content:space-evenly;
    height: 585px;
    /*background: rgb(84,140,175);
    629ABB*/
    background: linear-gradient(138deg, rgb(39, 114, 161) 0%, rgba(161,218,238,1) 71%);
}
.trailer-titulo{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 40px;
    color: #000000;
}
/*.logo-e-trailer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content:space-evenly
}*/
/**************** FOOTER ********************************/
.rodape{
    background: #61A7C1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #FFFFFF;
    
}
.texto_rodape{
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    color: #000000;
}
.logo_footer{
    width: 100px;
    height: 100px;
}

/******************** LOGIN ****************************/
.conteudo-principal-login{
    height: fit-content;
    padding: 100px 0;
    background-size: cover;
    background-image: url('../assets/thebig_login.png');
}
.caixa-login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -57px;
    margin-left: 97px;
    width: 528px;
    height: 580px;
    background: rgba(201, 35, 42, 0.93);
    border-radius: 49px;
    font-family: 'Imprima', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
/*.link-conta{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
}*/
.faca-login{
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;

}
.botao-login{
    width: 197px;
    height: 57px;
    left: 203px;
    top: 692px;
    background: rgba(130, 178, 196, 0.97);
    border-radius: 6px;
    font-family: 'Imprima', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
.caixa-login input{
    width: 383px;
    height: 56px;
    background: rgba(231, 238, 240, 0.92);
    border-radius: 20px;
    border: none;
}
.caixa-login button{
    margin-top: 30px;
    width: 197px;
    height: 57px;
    background: rgba(130, 178, 196, 0.97);
    border-radius: 6px;
    font-family: 'Imprima', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}
/******************** CADASTRO ****************************/
.conteudo-principal-usuario{
    height: fit-content;
    padding: 40px 0;
    background-size: cover;
    background-image: url('../assets/thebig_login.png');
}
.caixa-usuario{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -24px;
    margin-left: 84px;
    width: 528px;
    height: 900px;
    background: rgba(201, 35, 42, 0.93);
    border-radius: 49px;
    font-family: 'Imprima', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.link-usuario{
    margin-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
    font-size: 15px;
}
.caixa-usuario button{
    margin-top: 30px;
    width: 197px;
    height: 57px;
    background: rgba(130, 178, 196, 0.97);
    border-radius: 6px;
    font-family: 'Imprima', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}
.caixa-usuario input{
    width: 383px;
    height: 56px;
    background: rgba(231, 238, 240, 0.92);
    border-radius: 20px;
    border: none;
}
.opcoes{
    width: 383px;
    height: 56px;
    background: rgba(231, 238, 240, 0.92);
    border-radius: 20px;
    border: none;
    margin-top: 30px;
}

.titulo-bemvindo{
    font-family: 'Imprima', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin-top: 30px;
}
.jatemconta{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.jatemconta1{
    font-family: 'Imprima', sans-serif;
    font-style: normal;
    font-size: 15px;
}
