@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Inconsolata:wght@700;900&family=Inter:wght@700&family=Open+Sans:ital,wght@1,300&family=Roboto+Condensed&family=Roboto:wght@100;400&display=swap');

/*font-family: 'Imprima', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/
/******************** CABEÇALHO ****************************/
* {
    margin: 0;
    /*Distancia da tag que você */
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    /*background: linear-gradient(to right, #2a0845, #6441A5); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    background: linear-gradient(to right, #323fa3, #020a4a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.logo-personagens{
    width: 342px;
    height: 143px;
}
.cabecalho-personagens {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /*padding: 24px; margem*/
    /* background-color: #C9232A; */
    box-sizing: border-box;
    border-bottom: 1px solid #FFFFFF;
    height: 230px;
}

.titulo-cabecalho {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 55px;
    color: #FFFFFF;
    margin-left: -121px;
}

.cabecalho-voltar {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: -217px;
    margin-top: 80px;

}

/************************ PERSONAGENS *******************************/
.personagens-principais {
    display: flex;
    flex-direction: row;
    /* align-content: space-between; */
    justify-content: center;
    text-align: center;
    gap: 94px;
    margin-top: 119px;
}

/************************** SHELDON **********************************/
.personagem-sheldon {
    width: 350px;
    height: 354px;
    background: #008880;
    border-radius: 25px;
    transition: width 0.5s, height 0.5s;
    /*deixa a mudança de altura suave*/
    position: relative;
    overflow: hidden;
}

.personagem-sheldon:hover {
    transform: scale(1.1);
    height: 650px;
}


.personagem-sheldon:hover .text {
    opacity: 1;
}

/**************************** LEONARD ******************************************/

.personagem-leonard {
    width: 350px;
    height: 354px;
    /* background: rgba(239, 243, 40, 0.6); */
    background: rgba(236, 239, 87, 0.76);
    border-radius: 25px;
    transition: width 0.5s, height 0.5s;
    /*deixa a mudança de altura suave*/
    position: relative;
    overflow: hidden;
}

.personagem-leonard:hover {
    transform: scale(1.1);
    height: 650px;
}

.personagem-leonard:hover .text {
    opacity: 1;
}

/**************************** PENNY ******************************************/
.personagem-penny {
    width: 350px;
    height: 354px;
    background: rgba(68, 189, 240, 0.65);
    border-radius: 25px;
    transition: width 0.5s, height 0.5s;
    /*deixa a mudança de altura suave*/
    position: relative;
    overflow: hidden;
}

.personagem-penny:hover {
    transform: scale(1.1);
    height: 600px;
}

.personagem-penny:hover .text {
    opacity: 1;
}

/***************************** GERAL (TODOS OS PERSONAGENS) ******************************************/
.foto {
    align-items: center;
    width: 303px;
    height: 282px;
    margin-top: 20px;
}

.text {
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
    font-family: 'Imprima', sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #FFFFFF;
}

.titulo {
    font-family: 'Imprima', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-size: 20px;
}

/**************************** RAJESH ******************************************/
.personagem-raj {
    width: 350px;
    height: 354px;
    background: rgba(201, 35, 42, 0.8);
    border-radius: 25px;
    transition: width 0.5s, height 0.5s;
    /*deixa a mudança de altura suave*/
    position: relative;
    overflow: hidden;
}

.personagem-raj:hover {
    transform: scale(1.1);
    height: 600px;
}


.personagem-raj:hover .text {
    opacity: 1;
}

/****************************   BERNADETTE ******************************************/
.personagem-bern {
    width: 350px;
    height: 354px;
    background: rgba(204, 71, 216, 0.44);
    border-radius: 25px;
    transition: width 0.5s, height 0.5s;
    /*deixa a mudança de altura suave*/
    position: relative;
    overflow: hidden;
}

.personagem-bern:hover {
    transform: scale(1.1);
    height: 650px;
}


.personagem-bern:hover .text {
    opacity: 1;
}

/**************************** HOWARD ******************************************/
.personagem-howard {
    width: 350px;
    height: 354px;
    background: rgba(35, 48, 139, 0.78);
    border-radius: 25px;
    transition: width 0.5s, height 0.5s;
    /*deixa a mudança de altura suave*/
    position: relative;
    overflow: hidden;
}

.personagem-howard:hover {
    transform: scale(1.1);
    height: 750px;
}


.personagem-howard:hover .text {
    opacity: 1;
}
/**************************** STUART BLOOM ******************************************/
.personagem-stuart{
    width: 350px;
    height: 354px;
    background: #B48D01;
    border-radius: 25px;
    transition: width 0.5s, height 0.5s;
    position: relative;
    overflow: hidden;
}
.personagem-stuart:hover {
    transform: scale(1.1);
    height: 640px;
}

.personagem-stuart:hover .text {
    opacity: 1;
}

/**************************** AMY ******************************************/
.personagem-amy{
    width: 350px;
    height: 354px;
    background: rgba(255, 0, 184, 0.44);
    border-radius: 25px;
    transition: width 0.5s, height 0.5s;
    position: relative;
    overflow: hidden;
}
.personagem-amy:hover {
    transform: scale(1.1);
    height: 550px;
}

.personagem-amy:hover .text {
    opacity: 1;
}
.rodape-personagens{
    height: 892px;
    margin-top: 84px;
    width: 1518px;
}