@import url('https://fonts.googleapis.com/css2?family=Anton&family=Imprima&family=Inconsolata:wght@700;900&family=Inter:wght@700&family=Open+Sans:ital,wght@1,300&family=Roboto&family=Roboto+Condensed&display=swap');
/*font-family: 'Imprima', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/
/* pagina mural */

*
.label-captura {
  display: flex;
  justify-content: center;
}

.dash {
  width: 70%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 90vh;
  overflow: auto;
  margin-top: -694px;
  margin-left: 10px;
}

/* .regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
} */

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.botao-dash-temporada{
  width: 153px;
  height: 32px;
  background: rgba(80, 4, 157, 0.92);
  border-radius: 5px;
  border: none;
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  color: #fff;
}
.graph {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
  font-family: 'Inconsolata', monospace;
}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.hello {
  font-family: 'Imprima', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

/******************************** CABEÇALHO *********************************************************/
* {
  margin: 0;
  /*Distancia da tag que você */
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.cabecalho-quiz {
  height: 100vh; 
  width: 231px;
  /* left: 0px;
  top: 0px; */
  background-color: #23308B;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  position: relative;
  border-right: #fff 1px solid;
}

.cabecalho-logo-quiz {
  width: 130px;
  height: 108px;
  margin-top: -9px;
  margin-left: 10px;
}

.botao-cabecalho {
  width: 180px;
  height: 59px;
  background: rgba(231, 238, 240, 0.92);
  border-radius: 20px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #000000;
}
.fundo-dash{
  background-color: #23308B;
  height: 739px;
}